<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Attendance {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/attenduser/css/style.css') }}">

        {% endblock %}

    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/attenduser/js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>