{% if app.session.flashbag.has('success') %}
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashbag.has('error') %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashbag.has('notice') %}
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}