.mainbox{
    margin-top: 50px;
}
.login-forgot-link{
    float:right;
    font-size: 80%;
    position: relative;
    top:-10px
}
.login-panel{
    padding-top:30px
}
.login-form .input-group{
    padding-top: 25px
}
.login-form .form-group{
    margin-top: 10px;
}
.login-signup-link{
    border-top: 1px solid#888;
    padding-top:15px;
    margin-top: 15px;
    font-size:85%
}
.display-none{
    display: none;
}
.input-error li{
    color: #a94442;
    margin-left: 21%;
}
.error{
    color: #a94442;
}