<!DOCTYPE html>
<html>
<head>
    <title>Login | Coding Cage</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body id="login">
<div class="container">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please Activte Account</h2><hr />
        Hello {{ name }}
        <br /><br />
        Welcome XYZ!<br/>
        To complete your registration  please , just click following link<br/>
        <br /><br />
        <a href="http://attendance.local{{ path('verify', { 'id': userId, 'code': code }) }}">Click HERE to Activate</a>
        <br /><br />
        Thanks
        <hr/>
    </form>

</div> <!-- /container -->
<script src="bootstrap/js/jquery-1.9.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>