{# src/Attend/Bundle/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'AttendUserBundle::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div id="forgotpasswordbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <h2 class="form-signin-heading">Forgot Password</h2><hr />
        {% include 'AttendUserBundle::messages.html.twig' %}
        <form action="{{ path('forgot-password') }}" method="post" class="login-form" id="forgot-form">

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username_email" type="text" required class="form-control" name="username_email"
                       value="{{ last_username }}" placeholder="Username or Email">
            </div>
            <label for="username_email" class="error" id="username_email-error"></label>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="form-group">
                <!-- Button -->
                <div class="col-xs-12 col-sm-12 controls">
                    <button class="btn btn-lg  btn-danger tn-success" id="btn-submit">Generate Password</button>
                    <a href="{{ path('login') }}" style="float:right;" class="btn  btn-lg btn-primary">Sign In</a><hr />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
