{# src/Attend/Bundle/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'AttendUserBundle::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <form class="form-horizontal" action="{{ path('login') }}" method="post">

        <h2 class="form-signin-heading">Sign In.</h2><hr />

        {% include 'AttendUserBundle::messages.html.twig' %}
        {% if error %}
            <div id="login-alert" class="alert alert-danger col-sm-12"> <a class="close" data-dismiss="alert" href="#">×</a>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" placeholder="Email address" name="_username" id="username" value="{{ last_username }}" required>
        </div> <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required>
        </div>
        <hr/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="home" />

        <button class="btn btn-lg btn-primary" type="submit" name="btn-login">Sign in</button>
        <a href="{{ path('user_registration') }}" style="float:right;" class="btn  btn-lg btn-default">Sign Up</a><hr />
        <a href="{{ path('forgot-password') }}">Lost your Password ? </a>
    </form>
</div>
{% endblock %}
