{# src/Attend/Bundle/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'AttendUserBundle::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <h2 class="form-signin-heading">Reset Password</h2><hr />
        {% include 'AttendUserBundle::messages.html.twig' %}
        <form action="{{ path('change-password', { 'id': userId, 'code': code }) }}" method="post" class="form-horizontal" id="forgot-form">

            <div class="form-group">
                <label for="first_password" class="col-md-4 control-label">{{ form_label(form.password.first )}}</label>
                <div class="col-md-8">
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'New Password'}}) }}
                </div>
                <div class="input-error">{{ form_errors(form.password.first) }}</div>
            </div>

            <div class="form-group">
                <label for="second_password" class="col-md-4 control-label">{{ form_label(form.password.second )}}</label>
                <div class="col-md-8">
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat Password'}}) }}
                </div>
                <div class="input-error">{{ form_errors(form.password.second) }}</div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="form-group">
                <!-- Button -->
                <div class="col-xs-12 col-sm-12 controls">
                    <button class="btn btn-lg  btn-danger tn-success" id="btn-submit">Change Password</button>
                    <a href="{{ path('login') }}" style="float:right;" class="btn  btn-lg btn-primary">Sign In</a><hr />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
