{# src/Attend/Bundle/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'AttendUserBundle::base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        {% if error %}
            <div id="signupalert"
                 class="alert alert-danger col-sm-12">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'register_form'}}) }}
        <h2 class="form-signin-heading">Register</h2><hr />
        {% include 'AttendUserBundle::messages.html.twig' %}
        <div class="form-group">
            <label for="username" class="col-md-4 control-label">{{ form_label(form.username) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'User Name'}}) }}
            </div>
            <div class="help-block">{{ form_errors(form.username) }}</div>
        </div>

        <div class="form-group">
            <label for="email" class="col-md-4 control-label">{{ form_label(form.email) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
            </div>
            <div class="input-error">{{ form_errors(form.email) }}</div>
        </div>

        <div class="form-group">
            <label for="firstname" class="col-md-4 control-label">{{ form_label(form.first_name) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.first_name, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
            </div>
            <div class="input-error">{{ form_errors(form.first_name) }}</div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">{{ form_label(form.last_name) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.last_name, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
            </div>
            <div class="input-error">{{ form_errors(form.last_name) }}</div>
        </div>

        <div class="form-group">
            <label for="first_password" class="col-md-4 control-label">{{ form_label(form.password.first )}}</label>
            <div class="col-md-8">
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            </div>
            <div class="input-error">{{ form_errors(form.password.first) }}</div>
        </div>

        <div class="form-group">
            <label for="second_password" class="col-md-4 control-label">{{ form_label(form.password.second )}}</label>
            <div class="col-md-8">
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat Password'}}) }}
            </div>
            <div class="input-error">{{ form_errors(form.password.second) }}</div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-2 col-md-10">
                <button id="btn-signup" type="submit" class="btn btn-lg btn-primary"><i class="icon-hand-right"></i> &nbsp Register</button>
                <a href="{{ path('login') }}" style="float:right;" class="btn btn-lg btn-default">Sign In</a><hr />
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
