{# src/Attend/Bundle/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'AttendUserBundle::base.html.twig' %}
{% block stylesteets %}
    <style>
        h1 { font-size: 50px; }
        body { text-align:center; font: 20px Helvetica, sans-serif; color: #333; }
    </style>
{% endblock %}

{% block body %}
    <h1>Thank You For Registration</h1>
{% endblock %}
